.yearsWrapper {
  position: absolute;
  top: 400px;
  display: flex;
  z-index: -5;
  pointer-events: none;
  color: #5d5fef;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -4px;

  & div:last-of-type {
    color: #ef5da8;
  }
}

@media (max-width: 400px) {
  .yearsWrapper {
    position: initial;
    margin-top: 56px;
    font-size: 56px;
    line-height: normal;
    letter-spacing: -1.12px;
    display: flex;
    justify-content: center;
    color: #3877ee;

    & div:last-of-type {
      color: #f178b6;
    }
  }
}
